.header-wrapper
= render "items/main/header"
.main-wrapper
= render "items/main/main"
.pickup-contents-wrapper
= render "items/main/pickup-contents"
.bottom-dl-area-wrapper
= render "items/main/bottom-dl-area"
.fotter-wrapper
= render "items/main/fotter"
