.header-wrapper
= render "items/header"
.main-wrapper
= render "items/main"
.pickup-contents-wrapper
= render "items/pickup-contents"
.bottom-dl-area-wrapper
= render "items/bottom-dl-area"
.fotter-wrapper
= render "items/fotter"
