.header-wrapper
= render "items/main/header"

.banner
  = image_tag("main/banner.jpg", class: "banner__img")
.mypage
  .mypage__nav-container
    .mypage-nav-list
      %nav.mypage-nav
        %ul
          %li
            = link_to "商品を出品する", new_item_path, method: :get
          %li
            = link_to "商品を購入する", items_path, method: :get
          %li
            = link_to "出品した商品", saled_items_path, method: :get
          %li
            = link_to "購入した商品", bought_items_path, method: :get
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li
            = link_to "トップへ戻る", root_path, method: :get

.bottom-dl-area-wrapper
= render "items/main/bottom-dl-area"
.fotter-wrapper
= render "items/main/fotter"
