.pickup-contents
  %h2.pickup-contents__title
    ピックアップカテゴリー
  %section.items-contents.clearfix
    %h3.items-contents__title
      %a
        レディース
    .items-box-content.clearfix
      .items-box.one
        %a.detail-page
          = image_tag("pickup-contents/item1.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              話題 一粒ダイヤネックレスレディースピンクゴールド
            .item-price.clearfix
              ¥ 780
      .items-box.two
        %a.detail-page
          = image_tag("pickup-contents/item2.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              動きやすい！レディース 部屋着 ブラック L ・上下2点セット
            .item-price
              ¥ 1,280
      .items-box.three
        %a.detail-page
          = image_tag("pickup-contents/item3.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              クロス チョーカー
            .item-price
              ¥ 1,333
      .items-box.four
        %a.detail-page
          = image_tag("pickup-contents/item4.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              しまむら　トートバッグ　スウェット生地　2way　紺
            .item-price
              ¥ 1,500

.pickup-contents
  %h2.pickup-contents__title
    ピックアップブランド
  %section.items-contents.clearfix
    %h3.items-contents__title
      %a
        シャネル
    .items-box-content.clearfix
      .items-box.one
        %a.detail-page
          = image_tag("pickup-contents/brand1.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANELスタンプ
            .item-price.clearfix
              ¥ 2,700
      .items-box.two
        %a.detail-page
          = image_tag("pickup-contents/brand2.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANEL 534 エスパドリーユ
            .item-price
              ¥ 2,000
      .items-box.three
        %a.detail-page
          = image_tag("pickup-contents/brand3.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              シャネル ニュートラベルライン ショルダーバッグ グレー
            .item-price
              ¥ 16,000
      .items-box.four
        %a.detail-page
          = image_tag("pickup-contents/brand4.jpg", class: "detail-page__img")
          .detail-page__body
            %h3.item-name
              CHANEL シャネル サングラス イタリア製
            .item-price
              ¥ 12,000
