.single-container
  .single-header
    %h1
    =link_to root_path do
      = image_tag("header/logo.svg")
  .single-main
    .sell-container
      .sell-container__inner
        = form_for (@item) do |f|
          .sell-container__inner__head
            %h2
              商品の情報を入力
          .sell-upload-box
            = f.label :image, "出品画像", {class: 'form-label'}
            %span.form-require
              必須
            %p
              画像をアップロードします。
            .sell-dropbox-container
              %label.image-uploader
                = f.file_field :image
                .sell-upload-drop-box
                  %pre 画像をアップロード

          .sell-content
            .form-group-first
              = f.label :name, "商品名", {class: 'form-label'}
              %span.form-require
                必須
              %br
              = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "input-default"
            .form-group
              = f.label :description, "商品の説明", {class: 'form-label'}
              %span.form-require
                必須
              %br
              = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライドグレーで傷はありません。あわせやすいのでおすすめです。", class: "input-default", size: "100"
          .sell-content
            %H3.sell-sub-head
              商品の詳細
            .sell-form-box
              .form-group-first
                = f.label :category, "カテゴリー", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :category, [["-----", ""], ["レディース", "レディース"], ["メンズ", "メンズ"]], {}, { class: "select-default" }

              .form-group
                = f.label :state, "商品の状態", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :state, [["-----", ""], ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れはなし", "目立った傷や汚れはなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]], {}, { class: "select-default" }

          .sell-content
            %H3.sell-sub-head
              配送について
            .sell-form-box
              .form-group-first
                = f.label :postage, "配送料の負担", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :postage, [["-----", ""], ["着払い(購入者負担)", "着払い(購入者負担)"], ["送料込み(出品者負担)", "送料込み(出品者負担)"]], {}, { class: "select-default" }

              .form-group
                = f.label :region, "発送元の地域", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :region, [["-----", ""], ["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉", "千葉"]], {}, { class: "select-default" }

            .sell-form-box
              .form-group
                = f.label :shipping_date, "発送までの日数", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :shipping_date, [["-----", ""], ["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]], {}, { class: "select-default" }

          .sell-content
            %H3.sell-sub-head
              公開範囲
            .sell-form-box
              .form-group-first
                = f.label :release, "商品の公開範囲について", {class: 'form-label'}
                %span.form-require
                  必須
                .select-wrap
                  = f.select :release, [["全体公開", "全体公開"], ["限定公開", "限定公開"]], {}, { class: "select-default" }

          .sell-content
            %H3.sell-sub-head
              販売価格(300〜9,999,999)
            .sell-form-box
              %ul.l-left
                %li.form-group-first
                  = f.label :price, "価格", {class: 'form-label'}
                  %span.form-require
                    必須
              .input-price
                ¥
                = f.text_field :price, placeholder: "例)300", class: "input-price-area"

            .commision
              .l-left
                販売手数料 (10%)
              .l-right
                ー
            .profits
              .l-left
                販売利益
              .l-right
                ー
          .sell-content
            %p
              禁止されている出品、行為を必ずご確認ください。</br>
              またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            .form-group
              = f.submit "投稿する", class: "btn btn__red"
              = link_to "もどる", root_path, class: "btn btn__gray"

.fotter-gray
  .fotter-gray__box
    %nav
      %ul
        %li
          = link_to "" do
            プライバシーポリシー
        %li
          = link_to "" do
            利用規約
        %li
          = link_to "" do
            特定商取引に関する表記

    = link_to "", class: "fotter-logo" do
      =image_tag("fotter/logo-gray.svg")
    %p.fotter__copyright © 2017 Mercari

