.header-wrapper
= render "header"
.banner
  = image_tag("main/banner.jpg", class: "banner__img")

.item-detail
  .l-container
    .l-content
      .l-content__container
        %h2.item-detail-name
          アイテム名
        .item-content
          .item-content__main-photo
            = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/photos/m30775787197_1.jpg?1496224865")
          .item-content__sub-photo
            = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/photos/m30775787197_1.jpg?1496224865")
          .item-content__sub-photo
            = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/photos/m30775787197_1.jpg?1496224865")
          .item-content__sub-photo
            = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/photos/m30775787197_1.jpg?1496224865")
          .item-content__sub-photo
            = image_tag("https://static-mercari-jp-imgtr2.akamaized.net/photos/m30775787197_1.jpg?1496224865")
        %table.item-detail-table
          %tbody
            %tr
              %th
                出品者
              %td
                = link_to "出品者名", ""
                .item-user-rating
                  %i.icon-good
                .item-user-rating
                  %i.icon-normal
                .item-user-rating
                  %i.icon-bad
            %tr
              %th
                カテゴリー
              %td
                = link_to "レディース", ""
            %tr
              %th
                ブランド
              %td
                ノーブランド
            %tr
              %th
                商品の状態
              %td
                新品、未使用
            %tr
              %th
                配送の方法
              %td
                クイックポスト
            %tr
              %th
                配送元地域
              %td
                愛知県
            %tr
              %th
                配送の目安
              %td
                2〜3日で発送

      .item-detail-price
        %span.item-detail-price__bold
          ¥1,060円
        %span.item-detail-price__shipping-fee
          送料込み
      .item-buy-btn
        = link_to "購入する", "", class: ""
      .item-description
        %p
          パステル調のインコ柄のメガネケースです。

      .item-button-container
        .item-button-left
          %button.item-button-like
            %i.icon-like-border
            %span
              いいね!
        .item-button-right
          .item-button-report
            = link_to "不適切な商品の報告", "", class: "item-button"
    .l-side
      .l-visible-large
        = image_tag("items/side_banner.jpg")

.bottom-dl-area-wrapper
= render "bottom-dl-area"
.fotter-wrapper
=render "fotter"
