.header-wrapper
= render "items/main/header"
.banner
  = image_tag("main/banner.jpg", class: "banner__img")

.item-detail
  .l-container
    .l-content
      .l-content__container
        %h2.item-detail-name
          = @item.name
        - if current_user.id == @item.saler_id
          .saler-box
            .edit-and-destroy
              = link_to '編集', edit_item_path, method: :get
              = link_to '削除', item_path, method: :delete, data: {confirm: "本当に削除しますか？"}
            .url-copy
              %h1 この商品のURL:
              %textarea#fe_text.copy-url-input{:cols => "50", :name => "", :rows => "1"}
                = request.url
              %button#d_clip_button.my_clip_button{"data-clipboard-target" => "fe_text", "data-clipboard-text" => "Default clipboard text from attribute"}
                %b コピー
        %end

        .item-content
          .item-content__main-photo
            = image_tag @item.image
          - if @item.sold?
            .item-sold-out-badge
              SOLD
          %end
          .item-content__sub-photo
            = image_tag @item.image
          .item-content__sub-photo
            = image_tag @item.image
          .item-content__sub-photo
            = image_tag @item.image
          .item-content__sub-photo
            = image_tag @item.image
        %table.item-detail-table
          %tbody
            %tr
              %th
                出品者
              %td
                = link_to "#{@user.nickname}", ""
                .item-user-rating
                  %i.icon-good
                .item-user-rating
                  %i.icon-normal
                .item-user-rating
                  %i.icon-bad
            %tr
              %th
                カテゴリー
              %td
                = link_to "#{@item.category}", ""
            %tr
              %th
                商品の状態
              %td
                = @item.state
            %tr
              %th
                配送元地域
              %td
                = @item.region
            %tr
              %th
                配送の目安
              %td
                = @item.shipping_date
            %tr
              %th
                公開範囲
              %td
                = @item.release

      .item-detail-price
        %span.item-detail-price__bold
          ¥
          =@item.price
        %span.item-detail-price__shipping-fee
          送料込み
      - if @item.sold?
        .item-buy-btn__sold
          売り切れました
      - else
        .item-buy-btn
          = form_tag("/items/#{@item.id}/purchase", action: :purchase, method: :post) do
            %script.payjp-button{"data-key" => Rails.application.secrets.payjp_secret_key, :src => "https://checkout.pay.jp", :type => "text/javascript"}

      %end

      .item-description
        %p
          = simple_format(@item.description)

      .item-button-container
        .item-button-left
          %button.item-button-like
            %i.icon-like-border
            %span
              いいね!
        .item-button-right
          .item-button-report
            = link_to "不適切な商品の報告", "", class: "item-button"
    .l-side
      .l-visible-large
        = image_tag("items/side_banner.jpg")

.bottom-dl-area-wrapper
= render "items/main/bottom-dl-area"
.fotter-wrapper
= render "items/main/fotter"
